__pycache__/
*.pyc
.env
venv/
.venv/
.DS_Store
logs/
*.log
target/
dbt_packages/

# Airflow
airflow/logs/
airflow/*.db
airflow/*.db-shm
airflow/*.db-wal
airflow/*.pid
airflow/*.log
airflow/simple_auth_manager_passwords.json.generated
airflow/airflow.cfg
ecommerce-data-pipeline.code-workspace
